*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Poppins", sans-serif;
    background:#071022;
    color:white;
}

.fox-floating{
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    transform: scale(1.20);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}


.fox-floating,
.fox-floating:hover,
.fox-floating:focus,
.fox-floating:focus-visible,
.fox-floating:active{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
    -webkit-tap-highlight-color: transparent !important;
}

.fox-floating img{
    width: 135%;
    height: 135%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    transform: translate(-13%, -13%);
}

#fox-button{
    width:48px;
    height:48px;
    border:1px solid rgba(255,140,40,.8);
    border-radius:50%;
    background:#101827;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:
        0 0 8px rgba(255,140,40,.8),
        0 0 18px rgba(255,140,40,.55),
        0 0 32px rgba(255,140,40,.3);
    transition:
        transform .25s ease,
        box-shadow .25s ease;
}

#fox-button:hover{
    transform:scale(1.08);
    box-shadow:
        0 0 10px rgba(255,140,40,1),
        0 0 24px rgba(255,140,40,.75),
        0 0 40px rgba(255,140,40,.45);
}

#fox-button:active{
    transform:scale(.94);
}

.fox-tooltip{
    position:absolute;
    left:60px;
    bottom:50%;
    transform:
        translateY(50%)
        translateX(-6px);
    padding:8px 12px;
    border-radius:8px;
    background:#101827;
    color:white;
    font-size:13px;
    white-space:nowrap;
    border:1px solid rgba(255,255,255,.08);
    opacity:0;
    visibility:hidden;
    transition:
        opacity .2s ease,
        transform .2s ease;
}

.fox-floating:hover .fox-tooltip{
    opacity:1;
    visibility:visible;
    transform:
        translateY(50%)
        translateX(0);
}

.fox-logo{
    width:30px;
    height:30px;

    fill:none;
    stroke:#ff8c28;
    stroke-width:2.2;
    stroke-linecap:round;
    stroke-linejoin:round;

    filter:
        drop-shadow(0 0 3px rgba(255,140,40,.9))
        drop-shadow(0 0 8px rgba(255,140,40,.65));

    transition:
        transform .25s ease,
        filter .25s ease;
}
#fox-button:hover .fox-logo{
    transform:scale(1.08);
    filter:
        drop-shadow(0 0 4px rgba(255,140,40,1))
        drop-shadow(0 0 10px rgba(255,140,40,.85))
        drop-shadow(0 0 18px rgba(255,140,40,.5));
}